<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- header -->
<div class="container-fluid header">
<nav class="navbar-brand" routerLink="/Home" routerLinkActive="active">
  <div class="navbar-brand">
      <h3 style="color: white;">Premier</h3>
  </div>
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item-center">
        <img width="50" alt="Premier DB" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png">
      </a>
    </div>
    <div class="navbar-brand">
        <h3 style="color: white;">DB</h3>
    </div>
  </nav>
</div>
