.background{
    background-color: rgb(13, 13, 14);
}

h1,h2,h3,h4,h5{
    color: white;
}

.resize{
    max-width: 100%;
    height: 200px;
}

.table-column {
    min-width: auto; 
    text-align: center;
}